body, html{
    margin: 0;
    color: black;
    height: 100%;
}


.hero-image{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("kaijicards.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
}

.hero-title{
    text-align: center;
    color: black; 
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px;
    position: absolute;
    font-family: 'Bangers', serif; 
    font-size: 50px;
    top: -50px;
    left: 360px;
    letter-spacing: 2px;
}


.rock{
    background-image: url("rock.png");
    height: 500px;
    width: 500px;
    cursor: pointer;
    transform: scale(0.6, 0.6);
    position: absolute;
    left: -250px;
  }
  .paper{
    background-image: url("paper.png");

    height: 500px;
    width: 500px;
    cursor: pointer;
    transform: scale(0.6, 0.6);
    position: absolute;
    left: 500px;
  }

  .scissors{
    background-image: url("scissors.png");
    height: 500px;
    width: 500px;
    cursor: pointer;
    transform: scale(0.6, 0.6);
    position: absolute;
    left: 150px;

  }
  
  button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    opacity: 80%; 
  }

  button:active{
    background-color: transparent; 
    transform: scale(55%);
    border:none; 
  }

  button:hover{
    opacity: 100%; 
  }
  
  .rock{
    color: transparent;
    font-size: 1px;

  }

  .paper{
    color: transparent;
    font-size: 1px;

  }

  .scissors{
    color: transparent;
    font-size: 1px;
  }
  
/* Score Board */
.scoreboard{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    position: absolute;
    top: 45px;
    right: 970px;
    z-index: 1;
}
 

/* Score Info*/
.playerscore, .kaijiscore{
    font-size: 25px;
}
.playercount,.kaijicount{
    text-align: center;
    font-size: 60px;
    margin-top: -15px;
}

.gamesremaining{
  display:flex; 
  position: absolute;
  width: 250px; 
  top: 75px; 
  left: 910px;
  z-index: 2;
  font-size: 25px;
}

/* Play Again */

.playagain{
  position: absolute;
  background-color:white; 
  border-radius: 5%;
  border: 2px solid black;
  color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  top: 670px;
  left: 310px;
  font-family: 'Bangers', serif;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1px;
  letter-spacing: 2px;
  opacity: 100%;
}

.playagain:hover {
  background-color: rgb(230, 230, 230); 
}

.playagain:active{
  background-color: #780404; 
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(3px);
}


.result{
  margin-top: 20px;
  font-size: 50px;
}

.kaijiresult{
  margin-top: 30px;
  font-size: 25px;
}

.gameover{
  margin-top: 20px;
  font-size: 1.2rem;
}
